@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: bold
  font-family: "Fira Code"
  src: local("Fira Code Bold"), url("../lib/fira-code/woff2/FiraCode-Bold.woff2") format("woff2")

@font-face
  font-style: semibold
  font-family: "Fira Code"
  src: local("Fira Code SemiBold"), url("../lib/fira-code/woff2/FiraCode-SemiBold.woff2") format("woff2")

@font-face
  font-style: normal
  font-family: "Microsoft YaHei"
  src: local("Microsoft YaHei"), url("../lib/microsoft-yahei/msyh_0.ttf") format("truetype")
